:root {

    --light-green: hsl(148, 38%, 91%);
    --medium-green: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);
    --white: hsl(0, 0%, 100%);
    --medium-gray: hsl(186, 15%, 59%);
    --darker-gray: hsl(187, 24%, 22%);

}

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background-color: var(--light-green);
    font-family: 'Karla', sans-serif;
    height: 100%;
    font-size: 16px;
}

main {
    display: grid;
    place-items: center;
    padding: 120px 0px;
}

.container {
    background-color: var(--white);
    border-radius: 10px;
    padding: 20px;
    width: 736px;
    height: 100%;
}